/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4169E1; /* Royal Blue */
  --ifm-color-primary-dark: #304DBB; /* Darker Royal Blue */
  --ifm-color-primary-darker: #2A46A8; /* Even Darker Royal Blue */
  --ifm-color-primary-darkest: #203680; /* Darkest Royal Blue */
  --ifm-color-primary-light: #5A7DF2; /* Lighter Royal Blue */
  --ifm-color-primary-lighter: #7C97F4; /* Even Lighter Royal Blue */
  --ifm-color-primary-lightest: #B3C3F8; /* Lightest Royal Blue */
  --ifm-code-font-size: 95%;
}

/* Additional royal blue theme customizations */
.navbar {
  background-color: #4169E1 !important;
}

.menu__list-item a:hover,
.menu__list-item a:focus {
  color: #4169E1;
}

.button--primary {
  background-color: #4169E1;
  border-color: #4169E1;
}

.button--primary:hover {
  background-color: #304DBB;
  border-color: #304DBB;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
